<%= provide(:page_title, @article.title) %>

<div class="edit-content list-item shadow">
  <h2 class="main-title"><%= @article.title %></h2>
  <div id="article-content">
    <%= raw(@article.content) %>
  </div>
  <%= render partial: 'shared/resource_info',
             locals: { resource: @article } %>
</div>

<%= render partial: 'shared/comment', locals: { resource: @article } %>