<%= form_tag(update_password_user_path, method: 'patch', remote: :true, class: 'form password_form') do %>
  <div>
    <%= label_tag :password, '密码' %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= label_tag :new_password, '新密码' %>
    <%= password_field_tag :new_password %>
  </div>
  <div>
    <%= submit_tag '确定', class: 'btn btn-success' %>
  </div>
<% end %>