<!DOCTYPE html>
<html>
  <%= render partial: 'shared/head_content' %>
<body class="main-container">

  <header class="shadow">
    <%= image_tag "#{show_picture_name}.jpg",
                  class: "#{show_picture_name}" %>
    <ul id="nav">
      <li><%= link_to '首页', root_path %></li>
      <li><a href="#">说说</a></li>
      <li><%= link_to '日志', articles_path %></li>
      <li><a href="#">影评</a></li>
      <li><a href="#">音乐</a></li>
      <li><a href="#">留言</a></li>
      <li><a href="#">关于</a></li>
      <% if signed_in? %>
      <li><%= link_to '管理', user_path %></li>
      <li><%= link_to '注销', signout_path %></li>
      <%end %>
    </ul>

    <%= render 'shared/person_info' %>
  </header>

  <div class="main-box">
    <div class="alert-content">
      <%= render 'shared/alert' %>
    </div>

    <%= yield %>
  </div>

  <%= debug params %>

</body>
</html>
