<p class="article-info">
  <em class="time"><%= format_time(article.created_at) %></em>
  <% if signed_in?  %>
  <%= link_to '编辑', edit_article_path(article), class: 'edit' %>
  <%= link_to '删除', article_path(article),
                    class: 'destroy',
                    method: :delete, 
                    data: { confirm: "你确定要删除吗？" } %>
  <%= link_to '新建', new_article_path, class: 'new' %>
  <% end %>
  <em class="comment"><%= article.comments.count %></em>
  <% article.tags.each do |tag| %>
    <em class="tag"><%= tag.name %></em>
  <% end %>
</p>